.signBlock {
  display: flex;
  background: #9f494f;
  border-radius: 10px;
  width: 135px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

.username {
  font-size: 1.2em;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  font-style: italic;
}
