.btn {
  width: 50%;
  height: 40px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  background: #bab9b9;
}

.btn__left {
  border-radius: 10px 0 0 0;
}

.btn__right {
  border-radius: 0 10px 0 0;
}

.btn__active {
  background: #fff;
}

.btn:hover {
  color: #bd9136;
}
